.url-container{
    width:50%;
}
.top-section{
    display:flex;
    justify-content: space-between;
}
.top-section, h3{
    display:inline;
}
.delete{
    color:#A11E22;
}
.favourite{
    color:#37AFa9;
}
img{
    max-width: 700px;
    max-height: 500px;
    width:100%;
    height:100%;
}